$pintrest-red: #E40B2C;

header{
  position: fixed;
  z-index: 1001 !important;
}


.nav-dropdown{
  display: flex; 
  position: absolute;
  top: 80px;
  height: 45px; 
  width: 250px;
  background-color: white;
  box-shadow: 0 0 15px #ccc;
  border-radius: 18px;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar{
  z-index: 10;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.dropdown{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px #ccc;
  border-radius: 18px;
  position: absolute;
  right: 5px;
  top:80px;
}


#logout-button{
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  width: 235px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
  margin-left:8px;
  border-radius: 5px;
  border: none;
}

#logout-button:hover{
  background-color: rgb(211, 210, 210);
}

#dd-button{
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin:0;
  margin-left:5%;
  width: 90%;
  background-color: white;
  text-align: left;
}

#dd-button:hover{
  background-color: rgb(223, 223, 223);
}

.MainLogo {
  padding-left: 30px;
  height: 24px; 
  width: 24px;
}

.icon{
  margin: 10px;
  max-height: 28px; 
  max-width: 28px;
}

.chevron{
  margin: 20px;
  margin-left:10px;
  max-height: 15px; 
  max-width: 15px;
}

.LeftHeader {
  display: flex; 
  justify-content: start;
}

.RightHeader {
  display: flex; 
  justify-content: end;
}

.hide{
  display:none;
}

.signup-button, .login-button{
  display:flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width:70px;
  border: none;
  border-radius: 24px;
}

.login-button h1 {
  color: white; 
  font-size:16px;
  font-weight:600;
  padding:0;
}

.login-button{
  background-color: $pintrest-red;
  margin-right:15px; 
}

.signup-button h1{
  color: black; 
  text-decoration: none;
  font-size:16px;
  font-weight:600;
  padding:0;
}

.signup-button{
  background-color: #EAEAEA;  
  width:80px;
  margin-right:25px;
}