.pin-detail .board-dropdown-header{
  display: flex;
  color:black;
  font-weight: 600; 
  width: 150px;
}

.board-dropdown-header {
  align-items: center;
  cursor: pointer;

}

.board-image{
  height: 50px;
  min-width: 50px; 
  border-radius:10px; 
  overflow: hidden;
  background-color: lightsalmon;
}

.dropdown-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 10px;

  .left{
    display:flex;
  }

  .save-button{
    height: 40px; 
    width: 60px;
    
  }
}

.dropdown-item:hover{
  background-color: #EAEAEA;
}

.board-dropdown{
  display:flex; 
  flex-direction: column;
  padding: 15px;
  width: 325px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 0 15px #EAEAEA;
  position: absolute;
  z-index: 1000;
}

.pin-grid .board-dropdown{
  top:60px;
  left:-60px; 
}

.pin-image-container:hover .board-dropdown{
  top: 35px;
  left:-75px;
}

.pin-detail .board-chevron{
  width:12px; 
}

.pin-detail .board-dropdown{
  position:fixed;
  right: 20px !important; 
  top:100px !important;
}
