h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }


 .error{
   color: red;
   font-size: 10px;
 }

 .login .error{
   margin-top:-8px;
   margin-left: 10px;
   margin-bottom:5px;
 }

 .signup .error{
   margin-top:-7px;
   margin-bottom:5px;
 }