    .btn {
     background-color: white;
     padding: 10px;
     box-shadow: 3px 3px 3px darkblue;
     text-decoration: none;
   }

   header {
     display: flex; 
     justify-content: space-between;
   }

   h1{
     padding:5%;
   }

   #drop{
     width:200px;
     height: 200px; 
     background-color: lightcoral;
   }

   .create-board{
     padding-top: 100px;
   }


